---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import LogoMarquee from "../components/LogoMarquee.astro";
import PressHits from "../components/PressHits.astro";
import Testimonials from "../components/Testimonials.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main id="main">
    <Hero />
    <LogoMarquee />
    <PressHits />
    <Testimonials />
    <Contact />
  </main>
  <Footer />
</Layout>
