<div id="hero" class="flex flex-col lg:flex-row border-b border-purple-300 items-center justify-center">
  <div class="flex items-center justify-center px-6 grow w-auto lg:w-1/3 lg:max-w-200">
    <h1
      class="text-center py-10 px-10 lg:px-2 w-full lg:max-w-100 text-2xl/10 md:text-4xl/12 lg:text-4xl/13 xl:text-5xl/17 text-orange-600"
    >
      Combining long-term, big picture brand strategy with PR to help
      consumer brands make their mark.
    </h1>
  </div>
  <div class="border-l-1 border-y lg:border-x lg:border-y-0 border-purple-300 w-full lg:w-2/3 lg:max-w-240">
    <img
      class="w-full object-contain"
      src="/images/NG-V2.gif"
      alt="Nicole Greco PR brand collage"
      width="1200"
      height="1068"
      fetchpriority="high"
      decoding="async"
    />
  </div>
</div>
