---
import logos from "../data/logos.json";
---

<div
  id="logo_marquee"
  class="flex flex-col gap-4 items-center justify-center py-16 border-b border-purple-300 px-4 sm:px-14 bg-amber-50"
>
  <p class="text-center text-xl/8 font-light max-w-154 mx-2">
    A decade of invaluable agency experience has given me the opportunity
    to collaborate with brands like:
  </p>
  <div
    class="grid grid-cols-2 sm:flex sm:flex-row sm:flex-wrap gap-12 gap-y-8 justify-center items-center my-8 max-w-260 px-10 sm:px-10"
  >
    {logos.map((logo) => (
      <img
        class="h-12 md:h-16"
        src={logo.image}
        alt={`${logo.name} Logo`}
      />
    ))}
  </div>
</div>
