---
import { Image } from "astro:assets";
import testimonials from "../data/testimonials.json";
import TestimonialCard from "./TestimonialCard.astro";
import fishImage from "../assets/FISH.png";
import jamImage from "../assets/JAM.png";
import cupImage from "../assets/CUP.png";
import oliveOilImage from "../assets/OLIVEOIL.png";

const half = Math.ceil(testimonials.length / 2);
const columnA = testimonials.slice(0, half);
const columnB = testimonials.slice(half);
---

<div
  id="love_letters"
  class="flex flex-col items-center justify-center py-20 px-0 sm:px-14 gap-20"
>
  <h2 class="text-center text-orange-600 text-4xl/12 lg:text-5xl/15 xl:text-5xl/17">LOVE LETTERS</h2>

  <div class="flex flex-wrap items-start justify-center gap-8 relative mx-4 lg:mx-30 overflow-hidden lg:overflow-visible">
    <Image src={fishImage} width={560} format="webp" loading="lazy" decoding="async" class="hidden lg:block absolute -top-55 -right-70 h-80 w-auto" alt="" />
    <Image src={jamImage} width={660} format="webp" loading="lazy" decoding="async" class="hidden lg:block absolute top-30 -left-78 h-105 w-auto" alt="" />
    <Image src={cupImage} width={560} format="webp" loading="lazy" decoding="async" class="hidden lg:block absolute bottom-55 -right-80 h-70 w-auto" alt="" />
    <Image src={oliveOilImage} width={596} format="webp" loading="lazy" decoding="async" class="hidden lg:block absolute -bottom-70 -left-60 h-120 w-auto" alt="" />
    <div class="flex flex-col gap-8">
      {columnA.map((testimonial) => <TestimonialCard {...testimonial} />)}
    </div>
    <div class="flex flex-col gap-8">
      {columnB.map((testimonial) => <TestimonialCard {...testimonial} />)}
    </div>
  </div>
</div>
